# Entornos virtuales
venv/
.venv/

# Variables de entorno
.env
.env.local

# Python
__pycache__/
*.py[cod]

# Pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
*.md

# Node / NestJS
node_modules/
dist/
npm-debug.log*
*.tsbuildinfo
*.zip
